/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {

    #hero {
        min-height: 400px;
        height: 400px;
        background: url('/images/SplashImage.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        color: #fff;
    }
    
    #dark {
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: .7;
    }
    
    #home-h {
        width: 200px;
        text-align: center;
        font-size: 3.4375em;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 50;
        margin-top: 50px;
        color: #fff;
    }
    
    #home-h:before {
        content: '';
        position: absolute;
        width: 180px;
        height: 200px;
        border: 10px solid #6D9886;;
        z-index: -1;
    }
    
    .white-comb {
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 100;
    }
    
    .white-comb.dark-mode {
        display: none !important;
    }
    
    .dark-comb.dark-mode {
        display: block;
        position: absolute;
        bottom: -2px;
        z-index: 100;
    }
}

@media only screen and (min-width: 48em) {

    #hero {
        position: relative;
        height: 600px;
    }

    #home-h {
        font-size: 4.375em;
        margin-bottom: 0;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }

    .white-comb {
        position: absolute;
        bottom: -2px !important;
    }
}

@media only screen and (min-width: 64em) {

    #hero {
        height: 600px;
        background: url('/images/SplashImage.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    #home-h {
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
        font-size: 4.375em;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }
}

/*-- -------------------------- -->
<---            Features        -->
<--- -------------------------- -*/

/* Mobile */
@media screen and (min-width: 0px) {

    #features .container {
        max-width: 800px;
        margin: auto;
        padding: 0, 15px
    }
    #features h2 {
        text-transform: uppercase;
        color: #222;
        text-align: left;
        font-size: 30px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left;
        margin-bottom: 25px;
        margin-top: 50px;
        border-left: 6px solid #6D9886;
        padding-left: 20px
      }
    #features .feature {
        width: 300px;
        height: 300px;
        margin: auto;
        position: relative;
        z-index: 1;
        margin-top: 25px;
    }

    #features .record-fish:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/record-fish.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .reservoir-page:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/reservoir-page.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .trip-catch-map:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/trip-catch-map.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .species-totals:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/species-totals.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .angler-totals:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/angler-totals.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
}

/* Tablets */
@media screen and (min-width: 500px) {

    
    #features .container {
        max-width: 800px;
        margin: auto;
        padding: 0, 15px
    }
    #features h2 {
        text-transform: uppercase;
        color: #222;
        text-align: left;
        font-size: 30px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left;
        margin-bottom: 25px;
        margin-top: 50px;
        border-left: 6px solid #6D9886;
        padding-left: 20px
      }
    #features .feature {
        width: 700px;
        height: 600px;
        margin: auto;
        position: relative;
        z-index: 1;
        margin-top: 25px;
    }
    #features .record-fish:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/record-fish.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .reservoir-page:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/reservoir-page.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .trip-catch-map:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/trip-catch-map.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .species-totals:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/species-totals.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
      #features .angler-totals:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/angler-totals.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        bottom: 0px;
        right: 0px;
        z-index: 1;
      }
}
